.movieList__container{
   
    border-radius: 5px;
    overflow-x: scroll;
    margin-bottom: 100px;
    p{
        font-size: 16px;
        font-weight: 600;
        margin-top: 12px;
    }
    h2{
        
        text-align: center;
        letter-spacing: 1px;
        color: #fff;
        font-weight: 300;
        font-size: 24px;
        padding: 20px 0px;
        background-color: rgb(0, 0, 58);
        margin: 0px;
    }

    .movieList__card {
        display: flex;
    }
   
    
    .movieList__item-li{
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(218, 218, 218);
        padding: 8px 20px 8px 20px;
        flex-direction: column;
       
    }
    .movieList__img{
        height: 260px;
        border-radius: 8px;
    }
    .fa-arrow-right{
        font-size: 22px;
        transition: 500ms ease;
        color: rgb(0 ,33, 59);
        cursor: pointer;
        padding: 5px;
        border-radius: 50%;
        &:hover{
            transform: scale(1.1);

        }
    }

}