.footer__bg{
    background-color:  rgb(0, 0, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    p{
        color: #fff;
        letter-spacing: 1px;
    }
}