.movie__bg{
    height: calc(100vh - 64px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    .movie__dark{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000;
        opacity: 0.8;  
    }

    .movie__content{
        height: 100%;
        display: flex;
        align-items: center;

        .movie__poster{
           height: 80%;

           div{
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                height: 100%;
           }
        }
    }

    .movie__info-header{
        height: 70%;
        color: white;
        width: 500px;
        h2{
            color: white;
            margin: 24px 0px;
            font-size: 30px;
        }
        h4{
            margin-top: 15px;
            color: white;
        }
        li{
            list-style: none;
            margin-right: 5px;
        }
        ul{
            padding: 0px;
            display: flex;
           
        }
        .fa-play-circle {
            margin-left: 30px;
            margin-right: 7px;
            font-size: 20px;
        }

        span.movie__release-date {
            font-size: 19px;
            font-weight: 600;
        }

        button{
            border: none;
            color: white;
            background-color: transparent;
            font-size: 22px;
            padding: 0px;
            &:hover,&:focus,&:active {
                background-color: transparent;
                color: rgb(189,0,105);;

            }
        }
        .movie__buttom_return{
            font-size: 15px;
            border: 1px solid rgb(75, 75, 75);
            padding: 7px;
            border-radius: 20px;
            margin-top: 30px;
            font-weight: 600;
            border: none;
            &:focus{
                outline: none;
            }
        }

        p{
            font-size: 14px;
            margin-top: 22px;
        }
        
    }
}


@media  (max-width: 600px) {

    .movie__bg {
        height: 1000px;
    }

    .movie__bg .movie__content .movie__poster {
        height: 200px;
    }

    .movie__bg .movie__info-header h2 {
        font-size: 35px;
        margin-top: 80px;
    }
    .movie__bg .movie__info-header {
        width: auto;
    }

    .movie__bg .movie__content {
        height: 0%;
    }

    .movie__bg .movie__content .movie__poster div {

        margin-top: 30px;
    }
   
    .movie__bg .movie__info-header p {
     font-size: 14px; 

     


}

}